---
import BaseLayouts from '../layouts/BaseLayouts.astro';
---

<BaseLayouts>

    <div class="main">
      <h1>Blog</h1>
    
      <div class="blog-post">
        <div class="title">Recursos energéticos de la escuela</div>
        <div class="content">
          <p>En este  blog voy a hablar sobre los recursos energéticos utilizados por la escuela Ideo.</p>
        </div>
      </div>
    </div>
<BaseLayouts/>

